body{
    color: wheat;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.gameMachine{
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/021/325/183/large/max-fitzgerald-highresscreenshot00005.jpg?1571238725');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center 0;
    margin: auto;
    /* border: 2px solid red; */
    height: 150vh;
}

.title{
    /* background-color: rgb(58, 57, 57); */
    width: 920px;
    margin: 0 auto -15px auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round{
    color: black !important;
}

h1, h2{
    text-align: center;
    color: wheat;
    margin: 5px;
}

.gameBoard{
    border: 40px solid rgb(58, 57, 57);
    border-radius: 20px;
    border-top: 30px solid rgb(44, 44, 44);
    border-bottom: 30px solid rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    /* margin: auto; */
    margin-left: 390px;
    margin-top: -1270px;
    background-image: url('https://31.media.tumblr.com/tumblr_m9f65ui8151rzjlc4o1_500.gif');
    height: 200px;
    width: 400px;
    padding: 20px;
    /* z-index: 2; */
}

/* screen */
.screen{
    /* border: 2px solid yellowgreen; */
    /* display: flex;
    justify-content: center;
    margin-top: -12px;
    width: 100%;
    height: 110%;
    background-image: url('https://31.media.tumblr.com/tumblr_m9f65ui8151rzjlc4o1_500.gif');
    background-size: cover; */
}

.battleScreen{
     /* border: 2px solid yellowgreen; */
     display: flex;
     justify-content: center;
     margin-top: -12px;
     width: 100%;
     height: 110%;
     background-image: url('https://31.media.tumblr.com/tumblr_m9f65ui8151rzjlc4o1_500.gif');
     background-size: cover;
}

.screen div {
    /* border: 2px solid red; */
    /* height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.battleScreen div{
     /* border: 2px solid red; */
     height: 100%;
     width: 20%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


/* start screen */
.startScreen{
    /* border: 2px solid red; */
    /* text-align: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes flashing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.play{
    background-color: transparent;
    color: wheat;
    font-size: 1.5em;
    border: 1px solid wheat;
    border-radius: 20px;
    width: fit-content;
    align-self: center;
    padding: 5px 30px;
    animation: flashing 1s infinite;
}
.play:hover{
    animation-play-state: paused;
    /* opacity: 1; */
    cursor: pointer;
}


/* game over */
.gameOverScreen{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    justify-content: space-around;
    text-align: center;
}
.winnerText{
    font-size: 1.5em;
}

.restart{
    background-color: transparent;
    color: wheat;
    font-size: 1.5em;
    border: 1px solid wheat;
    border-radius: 20px;
    width: fit-content;
    align-self: center;
    padding: 5px 30px;
    animation: flashing 1s infinite;
}

.restart:hover{
    animation-play-state: paused;
    /* opacity: 1; */
    cursor: pointer;
}

img{
    height: auto;
    width: 100%;
}

.alienSide img{
    /* transform: scaleX(-1); */
    /* just learned how to flip an image */
    height: 16%;
    width: auto;
}

.alien1{
    /* order: 2; */
}

div .battlefield{
    width: 60%;
    /* background-image: url('https://e0.pxfuel.com/wallpapers/165/955/desktop-wallpaper-of-gifs-trippy-rainbow-in-outer-space-triangle-rainbow-space.jpg'); */
    background-size: cover;
}

 /* controls */
.controls{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: auto;
    margin-left: 700px;
    width: 300px;
    text-align: center;
    margin-top: -100px;
}

.controls button {
    font-family: monospace;
    letter-spacing: 2px;
    height: 40px;
    width: 100px;
    color: rgb(0, 0, 0);
    border-color: #b81c25;
    font-weight: bold;
    background-color: #b81c25;
    /* border: 2px solid black; */
    /* box-shadow: 10px 2px 10px #b81c25; */
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
}

.controls button:hover{
    cursor: pointer;
}

.left button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
    margin-top: 30px;
}

.right button{
    display: block;
    margin-right: 10px;
    height: 50px;
}

.top{
    margin-bottom: 50px;
    margin-top: -10px
}

.top button {
    margin-top: 8px;
}

/* stats */
.playerStats, .alienStats{
    border: 2px solid purple;
    background-color: black;
    text-align: center;
    align-self: center;
    /* width: 21%; */
    display: none;
}

.playerStats > p, .alienStats > p {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    border-bottom: 2px solid rgba(165, 42, 42, .3);
}

h3{
    color: brown;
    /* text-decoration: underline; */
    display: block !important;
}

p span{
    font-weight: bold;
}

/* hidden */
.hidden{
    display: none;
}


/* fade */
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        transform: scaleX(100); /* cool... explosion effect*/
    }
}


.fadeOut {
    animation: fadeOut 2s forwards;
}


/* media query */
@media (min-width: 1299px) {
    .gameBoard{
        margin-top: -1650px;
        height: 250px;
        width: 450px;
        margin-left: 380px;
        margin-bottom: 200px;
    }
}